
.header{
  width: 976px;
  margin: auto;
}

.controlContent{
  width: 976px;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.controlUpper{
  display: flex;
  width: 976px;
  height: 337px;

}

.rightInfo{
  display: flex;
  flex-direction: column;
  margin:auto;
}

.controlLower{
  width: 976px;
  height: 199px;
  padding: 0 64px;
}

.liveCamContainer{
  width: 700px;
  height: 337px;;
}

.live-cam{
  max-width: 100%
}

.controlLower{
  display: flex;
  justify-content: space-between;
}

.noduino-title{
  color: #F5F5F5;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
}

.titleContainer{
  border-bottom: 4px solid #494746;
  margin-bottom: 20px;
}

.section-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section-title{
  color: #F5F5F5;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}

.speed-title{
  color: #fff;
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  text-align: center;
}


.status{
  text-align: right;
  font-weight: 700;


}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
}
.controls-up-down{
  height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 8px;
}

.controls .control{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.warning-container{
  width: 72px;
}

.warning-text{
  margin-left: 10px;
  text-align: center;
}

.warning-text h4{
  font-size: 2em;
}

.warning-text p{
  font-size: 1.4em;
}

.metalDetectedBox{
  visibility: hidden;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metalDetectedBox.detected{ 
  visibility: visible;
  color: #fff;
}


.keyboard-controls{
  margin-top: 20px;
}

.keyboard-controls li{
  list-style: none;
  padding-left: 10px;
}

.controls-cam-up-down{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 8px;
}

.control-cam-up{
  width: 0;
height: 0;
border-style: solid;
border-width: 0 60px 19px 60px;
border-color: transparent transparent #f47a23 transparent;
}

.control-cam-down{
  width: 0;
height: 0;
border-style: solid;
border-width: 19px 60px 0 60px;
border-color: #f47a23 transparent transparent transparent;
}

.control-cam-left{
  width: 0;
height: 0;
border-style: solid;
border-width: 60px 19px 60px 0;
border-color: transparent #f47a23 transparent transparent;

}

.control-cam-right{
  width: 0;
height: 0;
border-style: solid;
border-width: 60px 0 60px 19px;
border-color: transparent transparent transparent #f47a23;

}

.snapshot-button, .record-button{
  border: 1px solid #F47A23;
  color: #F47A23;
  padding: 10px 20px;
  width: 240px;
  display: block;
  text-align: center;
  margin: auto;
  background: none;
  font-size: 1em;
}

.snapshot-button{
  margin-top: 20px;
}

.snapshot-button:hover, .record-button:hover{
  color: #fff;
  border-color: #fff;
}

.stop-record{
  background-color: #F47A23;
  color: #fff;
}

.stop-record:hover{
  color: #F47A23;
  background-color: #fff;
}

.path-info{
  visibility: hidden;
}

.path-info.visible{
  visibility: visible;
}

.path-info ul{
  list-style: none;
  color: #fff;
  line-height: 2em;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}

.page-footer{
  margin-top: 40px;
  border-top: 4px solid #494746;
  color: #fff;
  font-weight: 700;
}

.authors{
  text-align: left;
}

.project{
  text-align: right;
}

.footerContainer{
  width: 976px;
  margin: auto;
}
